        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
            flex-direction: column;
            background: url(profile/login-background-3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: rgb(0, 0, 0);
            position: relative;

        }

        h2 {
            color: rgb(0, 119, 255);
            margin: 0;
            padding: 0;
        }


        .main-wrapper {
            width: 20em;
            border: 1px solid rgb(0, 119, 255);
            height: 20em;
            border-radius: 1.2em;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(10px);

        }

        .downloadButton {
            margin-bottom: -2em;
            border-radius: 0.5em;
            padding: 0.3em 1em;
            border: 1px solid rgb(0, 119, 255);
            color: rgb(0, 119, 255);
        }

        input {
            width: clamp(15.5em, 50vw, 20em);
            height: 2em;
            border-radius: 0.4em;
            border: 1px solid rgb(0, 119, 255);
            font-size: 1.3em;
            padding-left: 0.1em;

            backdrop-filter: blur(10px);

        }







        input::placeholder {
            text-align: center;
            padding-left: -0.1em;
            color: blue;
            font-size: 0.95em;
        }

        .main-button {
            margin-top: 1em;
            border-radius: 0.5em;
            font-size: 1.1em;
            border: 1px solid rgb(0, 119, 255);
            color: rgb(0, 119, 255);
            height: 2em;
            font-weight: bold;
            transition: 0.3s;
            padding: 0.1em 0.4em;

        }

        button:hover {
            transform: scale(1.05);
        }

        button:active {
            border: 1px solid rgb(255, 238, 0);
        }

        .message {
            margin: 0;
            padding: 0;
            font-size: 1em;
            color: rgb(255, 1, 1);
        }

        #qrcode {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            text-align: center;

        }

        @media (max-width:767px) {
            h2 {
                margin-top: -2em;
            }

        }